* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; }

header {
  height: 100vh;
  background-image: url(img/Decore.png);
  background-size: cover; }

nav {
  display: flex; }

.main-nav {
  margin-left: 10vw;
  display: flex;
  text-decoration: none; }
  .main-nav li {
    list-style: none; }

.link-1 {
  margin-top: 6.5vh; }

.link {
  margin-top: 6.5vh; }
  .link a {
    margin-left: 5.5vw; }

a {
  text-decoration: none;
  color: black; }

.square {
  border: 1px solid black;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 1vh;
  padding-bottom: 1vh;
  margin-left: 3vw;
  margin-top: 5vh; }

.logo {
  margin-left: 10vw;
  padding-top: 4.5vh;
  padding-bottom: 1vh; }

.header-content {
  margin-left: 10%;
  display: flex; }

.text-header {
  margin-top: 5%;
  width: 40vw; }
  .text-header h4 {
    color: #DF6951;
    margin-bottom: 2vh; }
  .text-header h1 {
    color: #181E4B;
    font-size: 76px;
    font-weight: bold;
    font-family: 'Volkhov', serif; }
  .text-header p {
    color: #5E6282; }
  .text-header p.desc {
    margin-top: 5vh; }

.img-header img {
  height: 85vh; }

.button {
  background-color: #ffc400;
  width: 12vw;
  height: 8vh;
  padding-top: 2vh;
  border-radius: 10px; }
  .button a {
    color: white;
    padding-left: 12%; }

.line-button {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .line-button .play {
    padding-top: 7%; }

section.grid-foot {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin-left: 10vw;
  margin-right: 10vw;
  gap: 20px; }
  section.grid-foot img {
    width: 30%; }
  section.grid-foot img.store {
    width: 45%; }
  section.grid-foot h1.logo-foot {
    color: #181E4B;
    font-size: 30px;
    font-weight: normal; }
  section.grid-foot h1 {
    color: #080809;
    font-size: 20px;
    margin-bottom: 20px; }
  section.grid-foot h2 {
    color: #5E6282;
    font-size: 16px;
    margin-bottom: 8px; }
  section.grid-foot h3 {
    color: #5E6282;
    font-size: 8px; }

section.category h3 {
  font-size: 16px;
  text-align: center;
  color: #5E6282;
  font-weight: bold; }
section.category h1 {
  text-align: center;
  font-family: 'Volkhov';
  font-weight: bolder;
  color: #14183E;
  font-size: 48px;
  margin-bottom: 10vh; }
section.category .grid-category {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-left: 10vw;
  margin-right: 10vw;
  gap: 30px; }
  section.category .grid-category .card-1, section.category .grid-category .card-3 {
    padding-top: 10%; }
  section.category .grid-category .card-2 img {
    width: 30vw; }
  section.category .grid-category .card-3 {
    padding-right: 20%; }
  section.category .grid-category .card-4 {
    padding-top: 17%; }

main {
  margin-top: 15vh; }

section.destination h3 {
  font-size: 16px;
  text-align: center;
  color: #5E6282;
  font-weight: bold; }
section.destination h1 {
  text-align: center;
  font-family: 'Volkhov';
  font-weight: bolder;
  color: #14183E;
  font-size: 48px;
  margin-bottom: 10vh; }
section.destination .grid-desti {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 10vw;
  margin-right: 10vw; }
  section.destination .grid-desti .desti img {
    width: 100%; }

section.book-a-trip {
  margin-left: 10vw;
  margin-right: 10vw;
  display: flex;
  margin-bottom: 5vh; }
  section.book-a-trip .text {
    width: 40vw;
    padding-top: 10vh; }
    section.book-a-trip .text h3 {
      font-size: 12px;
      color: #5E6282; }
    section.book-a-trip .text h1 {
      font-family: 'Volkhov';
      font-weight: bolder;
      color: #14183E;
      font-size: 40px;
      margin-bottom: 5vh; }
    section.book-a-trip .text .sub-text {
      display: flex;
      margin-bottom: 5vh; }
      section.book-a-trip .text .sub-text .only-text {
        margin-left: 2vw; }
      section.book-a-trip .text .sub-text p {
        font-size: 12px;
        color: #5E6282; }
  section.book-a-trip .img-trip {
    width: 40vw; }
    section.book-a-trip .img-trip img {
      width: 100%; }

section.testimonials {
  display: flex;
  margin-left: 10vw;
  margin-right: 4vw; }
  section.testimonials .text h3 {
    font-size: 12px;
    color: #5E6282;
    font-weight: bold;
    margin-bottom: 3%; }
  section.testimonials .text h1 {
    font-family: 'Volkhov';
    font-weight: bolder;
    color: #14183E;
    font-size: 40px;
    margin-bottom: 5vh; }
  section.testimonials .text img {
    margin-top: 5%;
    width: 15%; }
  section.testimonials .img img {
    width: 100%; }

section.logo-hover {
  margin-left: 10vw;
  margin-right: 10vw; }
  section.logo-hover .grid-logo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 12px; }
    section.logo-hover .grid-logo .logos {
      display: flex;
      align-items: center; }
      section.logo-hover .grid-logo .logos img {
        object-fit: cover; }
    section.logo-hover .grid-logo .logo-1, section.logo-hover .grid-logo .logo-2, section.logo-hover .grid-logo .logo-4, section.logo-hover .grid-logo .logo-5 {
      padding-bottom: 135px; }

section.sub {
  margin-left: 4vw; }
  section.sub .sub-img img {
    width: 93vw; }

/*# sourceMappingURL=style.css.map */
